/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.alert-button-inner {
  color: black;
}

/* Style du changement de base */

.is-cream .alert-button-inner {
  background-color: wheat;
  border: 2px solid wheat;
  border-radius: 40%;
}

.is-tomato .alert-button-inner {
  background-color: tomato;
  border: 2px solid tomato;
  border-radius: 40%;
}

ion-card.tomato-base {
  --background: tomato;
}

ion-card.cream-base {
  --background: wheat;
}
